{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-6 text-center">
        <div class="card shadow p-5 border-danger">
            <h1 class="text-danger display-1"><i class="fas fa-exclamation-triangle"></i></h1>
            <h3 class="fw-bold text-dark mt-3">เกิดข้อผิดพลาดขึ้นในระบบ</h3>
            <p class="text-muted fs-5">{{ msg }}</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary fw-bold mt-3">กลับสู่หน้าหลัก</a>
        </div>
    </div>
</div>
{% endblock %}